@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
@import url(../../bower_components/font-awesome/css/font-awesome.css);

/*material-icons are nessesary for MDL fully compatibility*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

main {
  padding: 20px;
  background: #fafafa;
}

.acme-card-wide.mdl-card {
  width: 100%;
}
.acme-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../assets/images/yeoman.png') center / cover;
  background-size: 110px;
  background-repeat: no-repeat;
}
.acme-card-wide > .mdl-card__title > .mdl-card__title-text {
  color: #000;
}
.acme-card-wide > .mdl-card__menu {
  color: #000;
}
.acme-card-wide > .mdl-card__actions {
  text-align: center;
}

.acme-card-square.mdl-card {
  width: 100%;
  min-height: 200px;
}
.acme-card-square > .mdl-card__title {
  color: #fff;
  background: #283593;
}
.acme-card-square > .mdl-card__media {
  color: #fff;
  background: none;
  text-align: center;
}
.acme-card-square > .mdl-card__media > img {
  height: 100px;
}


.section__text {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  padding-top: 8px;
  /*padding: 16px;*/
}

section .section__text h5 {
  font-size: inherit;
  margin: 0;
  margin-bottom: 0.5em;
}

.circular {
	width: 150px;
	height: 150px;
	border-radius: 75px;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
	background: url(../assets/images/mm.jpg) no-repeat;
    background-size: 100% auto;
	}

.circular img {
	opacity: 0;
	filter: alpha(opacity=0);
	}

.header-image {
    position: absolute;
}

.header-main-info {
    margin-left: 80px;
}

.cd-timeline-img.cd-work {
  background: #B53F51;
  color: white;
}

.cd-timeline-img.cd-work i {
    margin-left: -15px;
    margin-top: -15px;
}

.cd-timeline-img.cd-education {
  background: #51B53F;
}

.mdl-card__title-text > i {
    margin: 0 10px;
}

/*overrite material css*/
h2 {
    line-height: normal;
    margin: auto;
}
